{% extends "base.html"  %}  

{% block titel %}  Home {% endblock %}


{% block content  %}
    <h1>Welcome to the FastAPI-Dash Application</h1>
    <p>il s'agit d'une application Web qui intègre FastAPI et Dash pour 
        la visualisation des données et la gestion des utilisateurs.</p>

     <h3> Aujourd'hui est {{info.date}} et il est {{info.time}}</h3>   


     <p>City : {{info.weather.city}}</p>
     <p> Temperature : {{info.weather.temperature}}</p>
     <p>Description: {{info.weather.description}}</p>


{% endblock %}
